@import url('https://fonts.googleapis.com/css2?family=Pacifico');

.logo-librify {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

@import 'vendors/variables';
@import 'vendors/root';

@import 'bootstrap/scss/mixins';

@import 'bootstrap/scss/bootstrap';

@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/reboot';




